{% extends "base.html" %}
{% load static %}
{% block content %}
{% block title %}
<title>Project</title>
{% endblock %}

<div class="content-wrapper">
  <div class="page-header">
      <h3 class="page-title">
        Project
      </h3>
  </div> 
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col-lg-4">
              <div class="border-bottom text-center pb-4">
                <h3>{{project.name}}</h3>
                <p></p>
              </div>                     
              <div class="border-bottom  py-4">
                <div class="py-4">
                  <p class="clearfix"> <span class="float-left"> Company</span> <span class="float-right text-muted">  {{project.company}} </span>  </p>
                  <p class="clearfix"> <span class="float-left"> Start date </span><span class="float-right text-info">{{project.started_date}}</span> </p>
                  <p class="clearfix"> <span class="float-left"> Deadline</span> <span class="float-right text-danger"> {{project.deadline}}</span></p>
                  <p class="clearfix"> <span class="float-left"> manager</span><span class="float-right text-muted">  {{project.manager}} </span> </p>
                  <p class="clearfix"> <span class="float-left"> type</span><span class="float-right text-muted"> {{project.get_project_type_display}} </span> </p>
                  <p class="clearfix"> <span class="float-left"> contract</span><span class="float-right text-muted"> {{project.get_contract_display}} </span> </p>
                  <p class="clearfix"> <span class="float-left"> status </span><span class="float-right text-muted">  {{project.get_status_display}} </span> </p>
                  <p class="clearfix"> <span class="float-left"> cost </span><span class="float-right badge badge-pill badge-info">  {{project.cost}} </span> </p>
                </div>                                                       
              </div>
            </div>
            <div class="col-lg-8 pl-lg-5">
              <div class="d-flex justify-content-between">
                <div>
                  <h5>Overview</h5>
                  <div class="d-flex align-items-center">
                    <h5 class="mb-0 mr-2 text-muted"></h5>
                  </div>
                </div>
              </div>
              
              <div class="mt-4 py-2 border-top ">
                <ul class="nav profile-navbar">
               
                </ul>
              </div>
              <div class="profile-feed">
                <div class="d-flex align-items-start profile-feed-item">
               
                  <div class="ml-4">
                    <h6>
                      Description :
                    </h6>
                    <p>
                      {{project.description}}
                    </p>
                  
                  </div>
                </div>

               
              </div>
            </div>
          </div> 
          
        </div>
      </div>
    </div>
  </div>
</div>
  <!-- main-panel ends -->         
{% endblock content %}